/* Style geral */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDF1F4;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 4px 40px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.155);
}

#imgHeader {
    margin-top: 10px;
    background-color: #3f51b5;
    width: 179.71279907226562px;
    height: 42.508296966552734px;
}

nav {
    margin-top: 23px;
}

#aHeader{
    text-decoration: none;
    border: 1px solid #3f51b5;
    padding: 7px 35px;
    border-radius: 2px;
    font-size: 14px;
    color: #333;
}

/* Div tabela */
main{
    margin-top: 10vh;
}

#caixaFundo {
    padding: 2%;

    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.155);

    display: flex;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

tr, td, th{
    border: solid 1px black;
}