body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f4f6fc;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#imgHeader {
  width: 180px;
  height: 40px;
}

#titulo{
    margin-right: 80px;
    width: 230px;
    height: auto;
}

#voltar {
  text-decoration: none;
  border: 1px solid #3f51b5;
  padding: 8px 30px;
  border-radius: 4px;
  font-size: 14px;
  color: #3f51b5;
  transition: all 0.3s ease;
}

#voltar:hover {
  background-color: #3f51b5;
  color: #fff;
}

main{
  width: 100%;
  text-align: center;
  position: relative;
}

main > div > h2{
  margin-top: 50px;
}

main > div > div{
  margin-top: 60px;
  text-align: initial;
  margin-left: 160px;
}

main > div > div> h2{
  margin-left: -50px;
}

main > div > div> div{
  display: flex;
  justify-content: space-around;
}

main> div> div> div> div > img{
  width: 550px;
  height: 400px;
  margin-right: 30px;
  margin-top: -100px;
}

p{ 
  width: 500px;
  height: 300px;
  font-size: 1.4rem;
  margin-top: 90px;
  margin-left: -100px;
}
#flecha {
  margin-top: 100px;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: transparent;
  border-right: solid rgb(184, 184, 255);
  border-bottom: solid rgb(184, 184, 255);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

#flecha:hover{
  width: 22px;
  height: 22px;
  border-right: solid #3f51b5;
  border-bottom: solid #3f51b5;
}

#flecha:active{
   border-right: solid #0026ff;
  border-bottom: solid #0026ff;
}


footer{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer > nav{
    margin: 0px 100px 0px 100px;
    display: flex;
    justify-content:space-between;
}

footer > nav > a{
    text-decoration: none;
    border: 1px solid #3f51b5;
    padding: 8px 30px;
    width: 70px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    background-color: #3f51b5;
    color: white;
}

#part1{
  display: block;
}

#part2{
  display: none;
}

footer > nav > #voltar{
    background-color: transparent;
}

#proximo{
  margin-right: 40px;
}