body {
    font-family: Arial;
    background-color: #f0f2f5;
    margin: 20px;
}
h1 { text-align: center; }
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 40px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
tr:hover { background-color: #f5f5f5; }
.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.editar { background-color: #07cdff; color: white; }
.excluir { background-color: #4635dc; color: white; }
.pesquisar { background-color: #007bff; color: white; }
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
a:hover { text-decoration: underline; }
