body{
    padding: 0;
    top: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.2;
}
h1{
    font-size: 4.3rem;
    display: flex;
    flex-direction: column; 
}
h2{
    font-size: 2.8rem;
    transform: translate(-5vw, 1vw);
}
h3{
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 2.8vw;
}
h4{
    font-size: 1.4rem;
    font-weight: lighter;
    transform: translateY(-2vw);
}
h5{
    font-size: 1.2rem;
    font-weight: lighter;
    transform: translateY(-5vw);
}
h6{
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 1.4vw;
}
p{
    font-size: 1.2rem;
    color: black;
    font-weight: lighter;
    width: 18vw;
    margin: 0vw 1vw 0vw 2.8vw;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: center;
    margin-left: 9vw;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 2vw;
}
address{
    display: flex;
    gap: 1vw;
    margin-left: 1.4vw;
}

/* ABOVE THE FOLD */
header{
    padding-left: 1vw;
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center; 
    min-height: 4.6rem;
    box-shadow: 1.5px 3px 10px#89898933;
    z-index: 10;
}
#paragrafoATF{
    color: #6A6C7A;
}
#planilha1{
    width: 3vw;
    margin-right: 1vw;
}
#scaneia1{
    width: 10vw;
}
#entrarConta{
    display: flex;
    margin-left: 6vw;
    align-items: center;
    gap: 2vw;
}
#botaoLogin{
    background-color: white;
    border: 3px solid #4D63BA;
    padding: 0.5vw 2.5vw;
    border-radius: 4px;
    box-shadow: 1.5px 3px 2px #89898933;
    transition: background-color 0.2s; 
    cursor: pointer;
}
#botaoLogin:hover{
    background-color: #4D63BA;
    color: white;
}
#botaoCadastro{
    background-color: #4D63BA;
    border: 3px solid #4D63BA;
    padding: 0.5vw 0.8vw;
    border-radius: 4px;
    color: white;
    box-shadow: 1.5px 3px 2px #89898933;
    transition: background-color 0.2s;
    cursor: pointer;
}
#botaoCadastro:hover{
    background-color: white;
    border: 3px solid #4D63BA;
    color: black;
}
#quadradinhos{
    margin-top: 1vw;
    width: 100%;
}
#slogan{
    color: #4f5a69;
    margin-bottom: 1vw;
}
#scaneia2{
    width: 22rem;  
    margin-bottom: 0.4vw;  
}
#computador{
    width: 40vw;
}
#botaoComeceJa{
    background: linear-gradient(to right, #3B7CC9, #88B7E3);
    color: white;
    padding: 0.8vw 3.8vw;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 3px 2px rgba(137, 137, 137, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
}
#botaoComeceJa:hover{
    transform: scale(1.05);
}
#ATF{
    display: flex;
    margin: 1vw 7.7vw 0vw 7.5vw;
}
#seta{
    padding: 5vw;
    display: block;
    margin: 0 auto;
}

/* CARROSSEL */
#FUNC{
    position: relative;
    background: radial-gradient(circle, #D6EAFF, #4383CC, #170B5A);
    display: flex;
    height: 36rem;
    justify-content: space-around;
    align-items: center;
    margin: 10vw 0vw 0vw 0vw;
    text-align: center;
    padding: 20px;
}
#FUNC-IMAGEM-PRINCIPAL{
    height: 52rem;
    z-index: 2;
}
#FUNC-FUNDO{
    position: absolute;
    background-color: white;
    height: 30rem;
    width: 70vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-left: 6vw;
    border-radius: 4px;
}   
.FUNCS{
    z-index: 3;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    width: 74%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FUNCS-CARROSSEL{
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 30rem;
    display: flex;
    text-align: center;
    left: -14%;
}

.FUNCS.ativo{
    display: block;
    opacity: 1;
}

#FUNCS-ANTERIOR, #FUNCS-PROXIMO{
    position: absolute;
    top: 46%;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9;
    transform: translate(-50%);
    color: #3071C4;
    font-size: 3rem;
}

#FUNCS-ANTERIOR{
    left: 1.2vw;
}

#FUNCS-PROXIMO{
    right: 0vw;
}

.FUNCS h1{
    margin-top: 0;
    color: #1D367C;
}


/* COMO FUNCIONA */
#CF{
    padding-top: 12vw;
    padding-left: 6vw;
    background: linear-gradient(to bottom, #b3cce3, #f7f7f7);
    min-height: 54rem;
}
.CF-CONTEUDO{
    display: flex;
}
#CF-PARAGRAFO{
    position: absolute;
    width: 46vw;
    z-index: 5;
}
#mockupComp{
    transform: translate(28vw, -14vw);
    width: 60vw;
    height: auto;
    position: absolute;
    z-index: 4;
}

/* NOSSO DIFERENCIAL */
#OD{
    background: radial-gradient(
        circle,
        #6d97c7,
        #88B7E3,
        #D6EAFF,
        #D6F1FF,
        #8598cb
    );
    display: flex;
    min-height: 44rem;
    align-items: center;
    background-blend-mode: soft-light;
}
#OD-TEXTO{
    position: relative;
    background-color:#f7f7f7;
    width: 60vw;
    border-radius: 30px;
    transform: translateX(-10vw);
    padding-left: 18vw;
    min-height: 36rem;
    z-index: 1;
}
#OD-TITULO{
    text-align: center;
    padding: 2vw 19vw 0vw 0vw;
}
#OD-PARAGRAFO{
    width: 42vw;
    text-align: center;
}
#OD-CONTEUDO{
    display: flex;
    position: relative;
    align-items: center;
}
#OD-IMAGEM-PRINCIPAL{
    position: absolute;
    width: 42vw;
    z-index: 2;
    margin-left: 50vw;
}

/* PLANOS */
#SP{
    margin: 10vw 6vw 16vw 6vw;
}
#SP-TEXTO{
    text-align: center;
}
#SP-BOTOES{
    margin: auto;
    margin-bottom: 10vw;
    display: flex;
    width: fit-content;
    font-size: 2vw;
}
#botao-anual{
    background-color: #3071C4;
    border: none;
    padding: 0.5vw 3vw 0.5vw 3vw;
    border-radius: 2px;
    font-size: 1.2vw;
}
#botao-semestral{
    background-color: #689FD8;
    padding: 0.5vw 3vw 0.5vw 3vw;
    border: none;
    border-radius: 2px;
    font-size: 1.2vw;
}
#botao-trimestral{
    background-color: #88B7E3;
    padding: 0.5vw 3vw 0.5vw 3vw;
    border: none;
    border-radius: 2px;
    font-size: 1.2vw;
}
#SP-DIVISOES{
    display: flex;
    justify-content: space-around;
    margin-top: 6vw;
}
.SP-12e3{
    box-sizing: border-box;
    background-color: #E4EEF8;
    width: 26vw;
    align-items: center;
    padding: 0 2vw 2vw 2vw;
    height: 32vw;
    border-radius: 28px;
    box-shadow: 6px 6px 10px#89898933;
}
.SP-QNT{
    display: flex;
    transform: translate(0vw, -2vw);
}
#SP-2{
    transform: translateY(-5vw);
}
.SP-1-IMAGEM-PRINCIPAL{
    height: 5vw;
    transform: translate(-1.4vw, 3.6vw);
}
.SP-TITULO{
    box-sizing: border-box;
    background: linear-gradient(to right, #002F6C, #3B7CC9);
    width: 26vw;
    height: 8vw;
    transform: translateX(-2vw);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 1vw 0vw 0vw 4vw;
    color: white;
}
.SP-1-FAIXA{
    display: flex;
    box-sizing: border-box;
    background-color: #3071C4;
    width: 22vw;
    color: white;
    border-radius: 8px;
    height: 3vw;
    transform: translateY(-4vw);
    align-items: center;
    gap: 3vw
}
.SP-PRECO{
    color: #6A6C7A;
    text-align: center;
    font-weight: bold;
    transform: translateY(-3.6vw);
}
.SP-QUADRADO{
    background-color: white;
    height: 4vw;
    width: 4vw;
    border: 2px solid #3071C4;
    border-radius: 6px;
}
.SP-TIPO{
    padding-top: 0.9vw ;
}
#SP-12e{
    box-sizing: border-box;
    background-color: #E4EEF8;
    width: 26vw;
    margin: auto;
    border-radius: 28px;
    box-shadow: 6px 6px 10px#89898933;
}
#SP-P{
    box-sizing: border-box;
    background: linear-gradient(to right, #002F6C, #3B7CC9);
    width: 26vw;
    height: 6vw;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 0.4vw 0vw 0vw 4vw;
    color: white;
}
#SP-PD{
    display: flex;
    padding: 4vw 0 0 5vw ;
    height: 3vw;
}
.SP-2-IMAGEM-PRINCIPAL{
    height: 5vw;
    transform: translate(4vw, -3.2vw);
}
#SP-BOTOES button.ativo-plano{
    background-color: #4D63BA;
    color: white;
    font-weight: bold;
}
#SP-BOTOES button{
    cursor: pointer;
}
/* INSTALE O APP */
#DWL{
    background-color: #1D367C;
    display: flex;
    height: 23rem;
    padding-left: 3vw;
    align-items: center;
    margin: 4vw 0vw 4vw 0vw;
}
.logo-inline{
    width: 20vw;
    vertical-align: bottom;
    transform: translateY(0.4vw);
}
#DWL-TEXTO{
    color: white;
    font-size: 1.6rem;
}

/* ABOUT US */
#AU{
    padding: 8vw 0vw 8vw 0vw;
    text-align: center;
}
#AU-TEXTO{
    margin: 0vw 2vw 0vw 2vw;
    display: flex;
    justify-content: space-evenly;
}
.AU-TITULOS{
    font-weight: bold;
}
.AU-DIVISOES{
    position: relative;
    background-color: white;
    width: 24vw;
    height: 26rem;
    border-radius: 16px;
    overflow: visible;
    border: 6px solid #88B7E3;
    z-index: 1;
    transform: translateY(-2vw);
}
.AU-DIVISOES ol{
    font-size: 1.2rem;
    color: black;
    font-weight: lighter;
    width: 18vw;
    margin: 0vw 0vw 0vw 6.5vw;
    text-align: left;
}
.AU-IMG{
    margin-top: -5vw;
    
} 
#AU-NM{
    margin-top: 5vw;
}
#SL{
    position: absolute;
    transform: translate(-49.4vw, -32vw);
    z-index: 2;
}
#SML{
    position: absolute;
    margin: -30vw 0vw 0vw -17.5vw;
    z-index: 2;
}
#SMR{
    position: absolute;
    margin: -28vw 0vw 0vw 12.6vw;
    z-index: 2;
}
#SR{
    position: absolute;
    margin: -34vw 0vw 0vw 43vw;
    z-index: 2;
}

/* FOOTER */
footer{
    position: relative;
}
#FT-NOTICIAS{
    position:absolute;
    z-index: 1;
    margin: 14vw 0vw 0vw 66vw;
    color: white;
}
form{
    display: flex;
    border: 1px solid white;
    width: fit-content;
    margin-left: 1.4vw;
    margin-bottom: 6vw;
}
#femail{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 0.8vw 0.8vw;
}
#femail::placeholder{
    color: white;
}
#inscrevaSe{
    background-color: transparent;
    border: none;
    border-left: 1px solid white;
    padding: 0.8vw 0.8vw;
    color: white;
    cursor: pointer;
}
#FT-CONTATO{
    position:absolute;
    z-index: 1;
    margin: 14vw 0vw 0vw 8vw;
    width: 30vw;
}
#FT-SLOGAN{
    font-weight: bold;
    margin:2.4vw 0.3vw 4.8vw 1.4vw;
}
#FT-COPY{
    position: absolute;
    z-index: 1;
    margin: 32vw 0vw 0vw 30vw;

}
hr{
    width: 16vw;
    border: none;
    border-top: 1.6px solid #3B7CC9;
    margin-left: 1vw;
    margin-top: -1.8vw;
}
#FT-LOGO{
    width: 18vw;
    margin-bottom: -2.4vw;
}
#FTR-IMAGEM-PRINCIPAL{
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}
#FT-RESTRITA {
    display: flex;
    gap: 1vw; 
    position: absolute;
    top: -3.5vw; 
    left: 17vw; 
    z-index: 3;
    margin: 34vw 0vw 0vw 65.5vw;
}
#FT-RESTRITA button {
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid white; 
    padding: 0.8vw 0.8vw;
    transition: background-color 0.3s, color 0.3s;
}

#FT-RESTRITA button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#FT-NOTICIAS button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}