/* Style geral */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDF1F4;
    font-family: 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}


header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 4px 40px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.155);
}


nav {
    margin-top: 23px;
}

#aHeader{
    text-decoration: none;
    border: 1px solid #3f51b5;
    padding: 8px 44px;
    border-radius: 7px;
    border-width: 3px;
    font-size: 14px;
    color: black;
}

main{
    margin-top: 10vh;
}

#caixaFundo {
    padding: 2%;

    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.155);

    display: flex;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    justify-content: center;

    flex-direction: column;
}


#campoFiltro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/* style para parte do usuario */
#campoUsuario{
    padding: 2%;
    width: 60vw;
    height: 60vh;

    background-color: #D6E2FB;
    border-radius: 25px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#campoUsuario > div{
    display: flex;
    justify-content: center;
}

#campoUsuario > div > form{
    margin-left: 5%;
}

#campoUsuario > div > form > input[type="text"]{
    margin-left: 15%;
    height: 2.5vh;
}

.fundoForm{
    display: flex;
    flex-direction: column;

    margin-top: 5%;
    background-color: #B6C6E0;

    padding: 1%;
    border-radius: 15px;
}

.saveIcon {
    width: 20px;
    height: 20px;
    vertical-align: center;
    margin-bottom: -2px;
}

/* Editando area de adicionar usuario */
#campoAddUser{
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #D6E2FB;
    border-radius: 25px;

    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#formAddUser{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/* editando tabela */

table{
    border-collapse: collapse;
}

.aTable{
    text-decoration: none;
    color: #121212;

    display: block;
}

tr{
    height: 4vh;
    border-radius: 10px;
}

tr:hover{
    background-color: #D6E2FB;
}

#headerTabela{
    background: none;
}

td:first-child{
    border-radius: 7px 0 0 7px;
}

td:last-child{
    border-radius: 0 7px 7px 0;
}


/* barra de pesquisa */
#imgEnviar{
    transform: scale(0.8);
    transform-origin: center;
}

#formPesquisar{
    display: flex;
    align-items: center;
}

#inputFiltroNome{
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: 13px;
}

#inputFiltroNome:focus{
    outline: none;
}

/* botão de add user */
#addUserButton{
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    border-radius: 5px;
    background: none;
    border: solid 2px #3570BC;
    user-select: contain;
    cursor: pointer;
}

#addUserButton:hover{
    background-color: #AFC9E8;
    border: solid 2px #AFC9E8;
}

#addUserButton:active{
    background-color: #2A5CA0;
    border: solid 2px #2A5CA0;
}

/* input de select */
select{
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

option:hover{
    background-color: #AFC9E8;
}